{% extends 'base.html' %}

{% include 'navbar.html' %}

{% block content %}
    <form method="POST" action="/installSDK">
        <table id="data" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Installed</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(1,sdk|length) %}
                {% if sdk[i].installed == 0 %}
                <tr>
                    <td>{{ sdk[i].version }}</td>
                    <td>{{ sdk[i].image }}</td>
                    <td>{{ sdk[i].description }}</td>
                    <td><input type="checkbox" name="checkbox" value={{i+1}}></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success" name="submit" value="submit">Submit</button>
    </form>
{% endblock %}

