{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="/usdk">
        <table class="table">
            <tr>
                <th>Version</th>
                <th>Image</th>
                <th>Description</th>
                <th>Installed</th>
            </tr>
            {% for i in range(image|length) %}
            {% if 1 in installed[i] %}
            <tr>
                <td>{{ version[i][0] }}</td>
                <td>{{ image[i][0] }}</td>
                <td>{{ description[i][0] }}</td>
                <td><input type="checkbox" value={{i}} name="checkbox"></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <input type="submit">
    </form>
{% endblock %}
