{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="/remulator">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            {% for i in range(image|length) %}
            <tr>
                <td>{{ name[i][0] }}</td>
                <td>{{ image[i][0] }}</td>
                <td><button name="sname" value="{{ name[i][0] }}">Remove</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
