{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
    <form method="POST" action="/startEmulator">
        <table id="data2" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(emulator|length) %}
                <tr>
                    <td>{{ emulator[i].name }}</td>
                    <td>{{ emulator[i].image }}</td>
                    <td><button type="submit" class="btn btn-success" name="sname" value="{{ emulator[i].name }}">Launch</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
