<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
	  <title>AVD MANAGER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=,shrink-to-fit=no">
	  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap-icons.css">
    <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="static/plugins/dataTables/dataTables.bootstrap5.css">
  </head>
  <body>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
          </button>
          {{ message }}    
        </div>
      {% endfor %}
      <script src="static/plugins/jquery/jquery.js"></script>
      <script src="static/plugins/jquery/jquery-ui.js"></script>
      <script src="static/plugins/bootstrap/bootstrap.bundle.min.js"></script>
      <script src="static/plugins/dataTables/jquery.dataTables.js"></script>
      <script src="static/plugins/dataTables/dataTables.bootstrap5.js"></script>
      <script src="static/js/index.js"></script>
      {% block content %}{% endblock %}
  </body>
</html>